<!DOCTYPE html>
<html>
    <header>
        <title>Cartelis</title>
        <script>
        </script>
    </header>
    <body>
        <h4><%=user%></h4>
        <img src="<%=userPic%>"/>
    </body>
</html>